# Kconfig.cc32xx- CC32XX GPIO configuration options
#

menuconfig GPIO_UWP
	bool "Unisoc UWP GPIO driver"
	depends on GPIO && SOC_FAMILY_UWP
	default n
	help
	  Enable the GPIO driver on TI SimpleLink CC32xx boards

if GPIO_UWP

config GPIO_UWP_P0
	bool "GPIO block A0"
	depends on GPIO_UWP
	default n
	help
	  Include support for the GPIO port A0.


config GPIO_UWP_P1
	bool "GPIO block A1"
	depends on GPIO_UWP
	default n
	help
	  Include support for the GPIO port A1.

config GPIO_UWP_P1_NAME
	string "Driver name"
	depends on GPIO_UWP_P1
	default "UWP_GPIO_P1"

config GPIO_UWP_P2
	bool "GPIO block A2"
	depends on GPIO_UWP
	default n
	help
	  Include support for the GPIO port A2.

config GPIO_UWP_P2_NAME
	string "Driver name"
	depends on GPIO_UWP_P2
	default "UWP_GPIO_P2"

endif # GPIO_UWP
