#
# Copyright (c) 2018, UNISOC Incorporated
#
# SPDX-License-Identifier: Apache-2.0
#


menuconfig WIFI_UWP
	bool "Unisoc uwp wifi driver support"
	default n
	depends on WIFI
	select NETWORKING
	select NET_BUF
	select NET_L2_ETHERNET
	select NET_IPV4

if WIFI_UWP

config WIFI_STA_DRV_NAME
	string "STA driver name"
	default "WIFI_STA"

config WIFI_AP_DRV_NAME
	string "SoftAP driver name"
	default "WIFI_AP"

config WIFI_UWP_MAX_RX_ADDR_COUNT
	int "Max rx addr count each time"
	default 32
	help
	  Max count CP can receive each time.

config WIFI_UWP_NET_BUF_START_ADDR
	int "Net buffer start address(decimal number)"
	default 1702911

config WIFI_UWP_TX_BUF_COUNT
	int "TX buffer count"
	default 32

config WIFI_UWP_RX_BUF_COUNT
	int "RX buffer count"
	default 96

config WIFI_UWP_NET_BUF_SIZE
	int "Net buffer size"
	default 1800

endif
