menuconfig WIFI_UWP
	bool "Unisoc uwp wifi driver support"
	default n
	depends on WIFI
	select NETWORKING
	select NET_BUF
	select NET_L2_ETHERNET

if WIFI_UWP
config WIFI_UWP_USE_SRAM
	bool "Wifi use sram"
	default y

config WIFI_UWP_MAX_RX_ADDR_NUM
	int "Max rx addr num each time"
	default 32

config WIFI_UWP_TOTAL_RX_ADDR_NUM
	int "Total rx addr num"
	default 120

endif
