# SPDX-License-Identifier: Apache-2.0

config SOC_FLASH_UWP
	bool "Unisoc UWP flash driver"
	depends on FLASH && USE_UWP_HAL_SFC
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_PAGE_LAYOUT
	help
	  Enables the Unisoc UWP flash driver.


