# Kconfig - WiFi configuration options
#
# Copyright (c) 2016 UNISOC Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menu "WiFi"

config WIFIMGR
        bool "WiFi Manager"
	select WIFI
	select POSIX_API
	select PTHREAD_IPC
	select POSIX_MQUEUE
        help
	  Enable the WiFi Manager.
	  By default, WiFi manger is build as only a library.

if WIFIMGR

config WIFIMGR_CLI
	bool "WiFi Manager Client"
	select SHELL
	select NEWLIB_LIBC
	default n
	help
	  A client that can interact with WiFi manger,
	  which can be ran from shell.

config WIFIMGR_CONFIG_SAVING
	bool "Enable Saving Config"
	select FCB
	select SETTINGS
	default y
	help
	  Enable Saving & Cleaning WiFi Configuration.

config WIFIMGR_DHCPC
	bool "Enable DHCP client"
	select NETWORKING
	select NET_IPV4
	select NET_DHCPV4
	default y
	help
	  Start DHCP client by WiFi manger.

config WIFIMGR_LED
	bool "Enable LED indiction"
	default n
        depends on LED_UWP
	help
	  Enable LED indiction of WiFi manger.

config WIFIMGR_LED_NAME
	string "LED device name"
	default "led"
        depends on WIFIMGR_LED
        help
          Specify the LED device name.

config WIFIMGR_LED_STA
	int "STA LED"
	default 2
        depends on WIFIMGR_LED
        help
          Specify the STA LED.

config WIFIMGR_LED_AP
	int "AP LED"
	default 3
        depends on WIFIMGR_LED
        help
          Specify the AP LED.

module = WIFIMGR
module-str = Log for wifi manager
source "subsys/logging/Kconfig.template.log_config"

endif # WiFi

endmenu
