#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ENGPC
	bool "ENGPC test tool"
	default n
	help
		Enable ENGPC test tool for bt/wifi npi test
